[submodule "frontend"]
	path = frontend
	url = https://github.com/shpekery/museum-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/shpekery/museum-backend.git
[submodule "ml"]
	path = ml
	url = https://github.com/shpekery/museum-ml
